@media all and (max-width: 350px) {

	.center-container {
		width: 95%;
		margin: auto;

		padding-top: 15px;
		padding-bottom: 20px;
	}

	button {
		font-size: 10px;
	}

	/*####################################################
                    Content
	######################################################*/
	#change-summary {
		font-size: 15px;
	}

	#change-announce {
		font-size: 12px;
	}

	#change-commitment {
		font-size: 12px;
	}

}
